---
import { translate } from "../../i18n/helpers";
import type { Project } from "../../types/project";
import ProjectRow from "../project-row/ProjectRow.astro";
import Section from "./Section.astro";

const projects: Project[] = [
  {
    name: translate("section.projects.radio.name"),
    description: translate("section.projects.radio.description"),
    technologies: ["Angular", "NodeJS", "MySQL", "WebSockets"]
  },
  {
    name: translate("section.projects.mss.name"),
    description: translate("section.projects.mss.description"),
    technologies: ["Angular", "NodeJS", "MySQL", "WebSockets", "Meilisearch", "Message Queues"]
  },
  {
    name: translate("section.projects.ica.name"),
    description: translate("section.projects.ica.description"),
    technologies: ["Flutter", "Android Studio", "Material Design"]
  }
];
---

<Section name={translate("section.projects.name")} subtext={translate("section.projects.subtext")}>
  <div class="grid grid-cols-1 2xl:grid-cols-2 w-full gap-window">
    {
      projects.map((project) => (
        <div class="">
          <ProjectRow project={project} />
        </div>
      ))
    }
  </div>
</Section>
