---
import { translate } from "../../i18n/helpers";
import type { Skill } from "../../types/skill";
import SkillCard from "../skill-card/SkillCard.astro";
import Section from "./Section.astro";

const skills: Skill[] = [
  {
    icon: "ph:factory-duotone",
    name: translate("skill.crossindustry.name"),
    description: translate("skill.crossindustry.description")
  },
  {
    icon: "ph:code-duotone",
    name: translate("skill.fullstack.name"),
    description: translate("skill.fullstack.description")
  },
  {
    icon: "ph:paint-brush-duotone",
    name: translate("skill.uiux.name"),
    description: translate("skill.uiux.description")
  },
  {
    icon: "ph:angle-duotone",
    name: translate("skill.architecture.name"),
    description: translate("skill.architecture.description")
  },
  {
    icon: "ph:hand-heart-duotone",
    name: translate("skill.passion.name"),
    description: translate("skill.passion.description")
  }
];
---

<Section name={translate("section.skills.name")} subtext={translate("section.skills.subtext")}>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-window-sm lg:gap-window">
    {skills.map((skill) => <SkillCard icon={skill.icon} name={skill.name} description={skill.description} />)}
  </div>
</Section>
