---
import Pattern from "../components/pattern/Pattern.astro";
import ProjectListSection from "../components/sections/ProjectListSection.astro";
import QuoteSection from "../components/sections/QuoteSection.astro";
import SkillsListSection from "../components/sections/SkillsListSection.astro";
import SocialItem from "../components/social-item/SocialItem.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Container from "../components/container/Container.astro";
import { translate } from "../i18n/helpers";
---

<Layout title={translate("page.title")}>
  <Container>
    <div class="relative flex flex-col items-center justify-center lg:h-[calc(100vh-5rem)] w-full py-48">
      <div class="flex flex-col-reverse lg:gap-0 lg:grid grid-cols-[2fr,1fr] w-full h-full items-center">
        <!-- Short profile -->
        <div class="w-full">
          <h1 class="text-center text-4xl md:text-6xl lg:text-left lg:text-7xl font-black">
            {translate("section.about.name")}
          </h1>
          <p class="text-center text-base md:text-lg lg:text-left mt-2 lg:px-2">{translate("section.about.subtext")}</p>

          <ul class="flex items-center justify-center lg:justify-start mt-10 lg:mt-20 gap-6 px-1 opacity-80">
            <SocialItem href="https://www.linkedin.com/in/cedric-zitzmann">
              <Icon class="w-7 h-7" name="ph:linkedin-logo" />
              <span class="text-sm hidden sm:inline">{translate("socials.linkedin.label")}</span>
            </SocialItem>
            <SocialItem href="https://github.com/z3ttee">
              <Icon class="w-7 h-7" name="ph:github-logo" />
              <span class="text-sm hidden sm:inline">{translate("socials.github.label")}</span>
            </SocialItem>
          </ul>
        </div>
        <!-- Picture -->
        <div class="w-96 h-96 lg:h-[50%] lg:w-full">
          <Pattern />
        </div>
      </div>

      <div class="absolute bottom-0 left-1/2 transform-gpu -translate-x-1/2">
        <button
          id="scroll-to-projects-btn"
          onclick=""
          class="group inline-flex flex-col items-center justify-center gap-2 py-2 px-6">
          <span class="text-xs text-body-on text-opacity-70">{translate("btn.scrolltoprojects")}</span>
          <Icon
            name="ph:caret-double-down-duotone"
            class="w-12 h-12 group-hover:scale-110 transition-all will-change-auto"
          />
        </button>
      </div>
    </div>
  </Container>

  <ProjectListSection />
  <SkillsListSection />
  <QuoteSection />
</Layout>

<script>
  const button = document.getElementById("scroll-to-projects-btn");

  button?.addEventListener("click", () => {
    const projects = document.getElementById("projects");
    projects?.scrollIntoView({ behavior: "smooth" });
  });
</script>

<style></style>
