---
import { Icon } from "astro-icon/components";
import Container from "../container/Container.astro";
import NavButton from "../nav-button/NavButton.astro";

let hasScrolled = false;
---

<div id="page-header" class="relative lg:fixed top-0 left-0 right-0 bg-body z-50 transition-all">
  <Container>
    <div class="grid grid-cols-3 items-center justify-start w-full py-4">
      <div class="block">
        <!-- Logo for desktop -->
        <NavButton variant="text" href="/" iconOnly class="hidden lg:inline-flex" ariaLabel="Zitzmann.dev">
          <img src="/img/branding/logo_dark.svg" alt="Logo" class="w-8 h-8 rounded" />
          <!-- Name for desktop -->
          <p class="hidden lg:block text-base" aria-label="Zitzmann.dev">
            Zitzmann<span class="uppercase font-black">.dev</span>
          </p>
        </NavButton>

        <!-- Menu button for mobile devices -->
        <NavButton iconOnly variant="text" class="inline-flex lg:hidden" ariaLabel="Menu">
          <Icon class="w-7 h-7" name="ph:dots-nine-bold" />
        </NavButton>
      </div>

      <div class="flex items-center justify-center">
        <!-- Desktop nav -->
        <nav class="hidden lg:inline-flex items-center justify-center gap-4">
          <NavButton variant="text" href="/">
            <span class="text-sm opacity-80 font-semibold">About me</span>
          </NavButton>
          <NavButton variant="text" href="/projects">
            <span class="text-sm opacity-80 font-semibold">Projects</span>
          </NavButton>
          <NavButton variant="text" href="/skills">
            <span class="text-sm opacity-80 font-semibold">Skills</span>
          </NavButton>
        </nav>

        <!-- Logo for mobile -->
        <a href="/" class="inline-flex lg:hidden">
          <img src="/img/branding/logo_dark.svg" alt="Logo" class="w-8 h-8 rounded" />
        </a>
      </div>

      <div class="flex items-center justify-end">
        <!-- Contact button for desktop -->
        <NavButton variant="contained" class="hidden md:inline-flex">
          <span class="hidden md:inline" aria-hidden="true">Get In Touch</span>
          <Icon name="ph:arrow-square-out-duotone" class="w-6 h-6" />
        </NavButton>
        <!-- Contact button for mobile -->
        <NavButton iconOnly variant="text" class="inline-flex md:hidden">
          <Icon name="ph:envelope-duotone" class="w-7 h-7" />
        </NavButton>
      </div>
    </div>
  </Container>
</div>

<script define:vars={{ hasScrolled }}>
  function handleScroll() {
    document.getElementById("page-header").classList.toggle("shadow", window.scrollY > 10);
  }

  window.addEventListener("scroll", handleScroll);
</script>
