---
import type { Project } from "../../types/project";
import Chip from "../chip/Chip.astro";

interface Props {
  project: Project;
}

const {
  project: { name, description, technologies, coverImgUrl }
} = Astro.props;
---

<div class="group w-full h-full cursor-pointer">
  <div
    class="h-full grid grid-cols-[280px,1fr] rounded-lg outline outline-2 outline-offset-8 outline-transparent group-hover:outline-outline transition-all">
    <div class="w-full h-full rounded-lg bg-body-on bg-opacity-10"></div>
    <div class="flex-grow p-window-sm min-w-0 overflow-hidden">
      <h6 class="text-2xl font-bold line-clamp-2">{name}</h6>

      <p class="text-sm text-justify mt-2 text-body-on text-opacity-80 line-clamp-3">
        {description}
      </p>

      <div class="flex items-center justify-start flex-wrap gap-2 mt-6">
        {technologies.map((tech) => <Chip>{tech}</Chip>)}
      </div>
    </div>
  </div>
</div>
