---
import { Icon } from "astro-icon/components";
import { translate } from "../../i18n/helpers";
import Container from "../container/Container.astro";
import Pattern from "../pattern/Pattern.astro";
import SocialItem from "../social-item/SocialItem.astro";
import { CONTACT_EMAIL } from "../../constants";

const currentYear = new Date().getFullYear();

const EMAIL = CONTACT_EMAIL;
---

<div class="relative flex flex-col w-full pt-0">
  <div class="absolute -z-[1] transform-gpu -translate-y-1/2 top-0 left-0 h-full w-full">
    <Pattern />
  </div>
  <div class="bg-body-on text-body w-full">
    <Container>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-window py-window">
        <div class="w-full">
          <img src="/img/branding/logo_light.svg" alt="Logo" class="w-12 h-12 md:w-16 md:h-16 xl:w-24 xl:h-24" />

          <div class="mt-window">
            <ul class="flex flex-col gap-1">
              <li class="text-body text-opacity-80">Cedric Zitzmann</li>
              <li class="text-body text-opacity-80">
                <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="relative w-full">
          <div class="absolute hidden lg:block -left-window top-0 w-1 h-20 rounded-full bg-body"></div>

          <p class="font-semibold text-xl">{translate("footer.nav.usefullinks")}</p>
          <ul class="flex flex-col gap-3 mt-6">
            <li>
              <a
                class="text-sm font-normal tracking-wide text-body text-opacity-80 hover:text-opacity-100 focus-visible:text-opacity-100 transition-all"
                href="/legal/imprint">
                {translate("footer.nav.imprint")}
              </a>
            </li>
            <li>
              <a
                class="text-sm font-normal tracking-wide text-body text-opacity-80 hover:text-opacity-100 focus-visible:text-opacity-100 transition-all"
                href="/legal/data-privacy">
                {translate("footer.nav.privacy")}
              </a>
            </li>
          </ul>
        </div>

        <div class="relative w-full">
          <div class="hidden lg:block absolute -left-window top-0 w-1 h-20 rounded-full bg-body"></div>

          <p class="font-semibold text-xl">{translate("footer.nav.name")}</p>
          <ul class="flex flex-col gap-3 mt-6">
            <li>
              <a
                class="text-sm font-normal tracking-wide text-body text-opacity-80 hover:text-opacity-100 focus-visible:text-opacity-100 transition-all"
                href="#landing">
                {translate("header.nav.about")}
              </a>
            </li>
            <li>
              <a
                class="text-sm font-normal tracking-wide text-body text-opacity-80 hover:text-opacity-100 focus-visible:text-opacity-100 transition-all"
                href="#projects">
                {translate("header.nav.projects")}
              </a>
            </li>
            <li>
              <a
                class="text-sm font-normal tracking-wide text-body text-opacity-80 hover:text-opacity-100 focus-visible:text-opacity-100 transition-all"
                href="#skills">
                {translate("header.nav.skills")}
              </a>
            </li>
          </ul>
        </div>

        <div class="relative w-full">
          <div class="hidden xl:block absolute -left-window top-0 w-1 h-20 rounded-full bg-body"></div>

          <p class="font-semibold text-xl">{translate("footer.nav.socials")}</p>
          <ul class="flex flex-col gap-3 mt-6">
            <SocialItem href="https://www.linkedin.com/in/cedric-zitzmann">
              <Icon class="w-7 h-7" name="ph:linkedin-logo" />
              <span class="text-sm">{translate("socials.linkedin.label")}</span>
            </SocialItem>
            <SocialItem href="https://github.com/z3ttee">
              <Icon class="w-7 h-7" name="ph:github-logo" />
              <span class="text-sm">{translate("socials.github.label")}</span>
            </SocialItem>
          </ul>
        </div>
      </div>
    </Container>

    <div class="w-full bg-body-on-dim">
      <Container>
        <p class="text-center text-sm text-body py-window-sm">
          &copy; {currentYear} Cedric Zitzmann
        </p>
      </Container>
    </div>
  </div>
</div>
